BITACORA_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbxZue3jhXKwLuAiHBB3g2uH2dIxOc_FpVEDpQBgEJpBPD8Kb_xAm_6_J5iV6uD_maaU/exec
BITACORA_SHEET_NAME=2026Q3
SUGERENCIAS_SHEET_NAME=Sugerencias FAQ
BITACORA_WEBHOOK_TOKEN=BiomedFAQBitacoraDigitalByVictor
BITACORA_SPREADSHEET_ID=1ol9Gx_nSO20OOPGlqvQpkCgXDlCWa082PN5qaj-hZrM
